.App {
  text-align: center;
  font-family: "Comic Sans MS";
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card {
  min-height: 10rem;
  box-shadow: 10px 5px 5px #D3D3D3;
  min-width: 15rem;
  max-width: 15rem;
  background-color: #F5F5DC;
  text-align: left;
  padding: 15px;
  cursor: pointer;
  margin: 5px;
}

.title {
  font-weight: bold;
  color: #5b5a5a;
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.divider {
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #5b5a5a;
}

.task-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.task {
  min-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.task-text {
  margin-left: 5px;
}

.task-desc {
  max-width: 80%;
}
